.login {
  height: 100vh;
  background-image: linear-gradient(#0000007e, #0000007e),
    url(/background_banner.jpg);
  padding: 20px 8%;
}

.login-logo {
  width: 150px;
  margin-bottom: 10px;
}

.login-form {
  width: 100%;
  max-width: 400px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 45px;
  margin: auto;
}

.login-form h1 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.login-form input {
  width: 100%;
  height: 40px;
  background: #333;
  color: white;
  margin: 10px 0;
  border: 0;
  outline: 0;
  border-radius: 4px;
  padding: 16px 20px;
  font-size: 12px;
}

.login-form input::placeholder {
  font-size: 12px;
  font-weight: 500;
}

.login-form button {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 14px;
  background: #e50914;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 15px;
  cursor: pointer;
}

.form-help {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b3b3b3;
  font-size: 10px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 2px;
}

.remember input {
  width: 18px;
  height: 18px;
}

.form-switch {
  margin-top: 40px;
  color: #737373;
}

.form-switch span {
  margin-left: 6px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.login-spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-spinner img {
  width: 60px;
}

@media (max-width: 500px) {
  .login {
    padding: 15px 5%;
  }
  .login-form {
    padding: 20px;
    margin-top: 30px;
  }
}
